            <div class="form-row">
                <div id="form_1" class="col">
                    {{ form.hidden_tag() }}
                    <b>Reason1</b>
                    {% if form.properties_1.errors %}
                    {{ form.properties_1(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.properties_1.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.properties_1(class="form-control ") }}
                    {% endif %}
                </div>
                <!-- <button type="button" onClick="/function1">click me</button> -->
                <div id="form_0" class="col">
                    {{ form.hidden_tag() }}
                    <b>Reason1</b>
                    {% if form.properties_1.errors %}
                    {{ form.properties_1(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.properties_1.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.properties_1(class="form-control ") }}
                    {% endif %}
                </div>
                <div id="form_4" class="col">
                    {{ form.hidden_tag() }}
                    <b>Reason1</b>
                    {% if form.properties_1.errors %}
                    {{ form.properties_1(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.properties_1.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.properties_1(class="form-control ") }}
                    {% endif %}
                </div>
            </div>

            <div class="form-row">
                <div id="form_2" class="col">
                    {{ form.hidden_tag() }}
                    <b>Reason2</b>
                    {% if form.properties_2.errors %}
                    {{ form.properties_2(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.properties_2.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.properties_2(class="form-control ") }}
                    {% endif %}
                </div>
                <!-- <button type="button" onClick="/function1">click me</button> -->
                <div id="form_0" class="col">
                    {{ form.hidden_tag() }}
                    <b>Reason2</b>
                    {% if form.properties_2.errors %}
                    {{ form.properties_2(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.properties_2.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.properties_2(class="form-control ") }}
                    {% endif %}
                </div>
                <div id="form_5" class="col">
                    {{ form.hidden_tag() }}
                    <b>Reason2</b>
                    {% if form.properties_2.errors %}
                    {{ form.properties_2(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.properties_2.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.properties_2(class="form-control ") }}
                    {% endif %}
                </div>
            </div>
            <div></div>
            <div class="form-row">
                <div id="form_3" class="col">
                    {{ form.hidden_tag() }}
                    <b>Reason3</b>
                    {% if form.properties_3.errors %}
                    {{ form.properties_3(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.properties_3.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.properties_3(class="form-control ") }}
                    {% endif %}
                </div>
                <!-- <button type="button" onClick="/function1">click me</button> -->
                <div id="form_0" class="col">
                    {{ form.hidden_tag() }}
                    <b>Reason3</b>
                    {% if form.properties_3.errors %}
                    {{ form.properties_3(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.properties_3.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.properties_3(class="form-control ") }}
                    {% endif %}
                </div>
                <div id="form_6" class="col">
                    {{ form.hidden_tag() }}
                    <b>Reason3</b>
                    {% if form.properties_3.errors %}
                    {{ form.properties_3(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.properties_3.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.properties_3(class="form-control ") }}
                    {% endif %}
                </div>
            </div>
            <div class="form-row">
                <div id="form_4" class="col-6">
                    {{ form.text_left }}
                </div>
                <div id="form_4" class="col-6">
                    {{ form.text_right }}
                </div>
            </div>