<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">


<title>Page Title</title>
</head>
<body>
    <script src="../static/js/jquery.js" type="text/javascript"></script>

    <script>
        var basemapJSON;
        var ratingJSON;
        basemapJSON = JSON.parse($.ajax({'url': "../static/landing_page/base_map.geojson", 'async': false}).responseText);
        ratingJSON = JSON.parse($.ajax({'url':"../static/landing_page/street_rating.geojson",'async':false}).responseText);
        console.log(basemapJSON);
        console.log(ratingJSON);
    </script>
        <script src="https://aframe.io/aframe/dist/aframe-master.min.js"></script>
        <script src="https://unpkg.com/aframe-teleport-controls/dist/aframe-teleport-controls.min.js"></script>
        <script src="https://unpkg.com/aframe-extras/dist/aframe-extras.controls.min.js"></script>
        <script src="https://unpkg.com/aframe-extras/dist/aframe-extras.pathfinding.min.js"></script><!-- errors on controls if not present? -->
        <script src="https://unpkg.com/osmtogeojson/osmtogeojson.js"></script>
        <script src="/static/js/map_A.js"></script>
        <!-- <script src="/static/js/position-limit.js"></script> -->
        <script src="/static/js/conversions_A.js"></script>
        <script src="/static/js/tiles_A.js"></script>
        <script src="/static/js/buildings_A.js"></script>
    <h1 class="title">StreetScape Vis</h1>
    <div id="graphButtons">
      <button type="button" class="utility-button" id="foldGraphDiv">Select Two Streets</button>
      <!-- <button type="button" class="utility-button" id="normalizeBar">DENORMALIZE BAR GRAPH</button> -->
    </div>
</body>
</html>